*{
	margin: 0px;
	width: 100%;
}














#div1>img{
	width: 100%;
		align-items: center;
}



#div11{
	width: 100%;
	height: 100px;
	display: flex;
	justify-content:space-around;
	position: fixed;

}
#div11>font{
	width: 100%;
	line-height: 100%;
	font-size: 18px;

}







#div2{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
		align-items: center;
}
#div2>img{
	width: 20%;
}

#div3_top{
	
	width: 100%;
		align-items: center;
}
#div3_top>img{
	width: 100%;
}

#div3_body{
	display: flex;
	width: 100%;
		align-items: center;
}
#div3_body>div{
	width: 33%;
}
#div3_body>div>img{
	width: 100%;
}



#div4{
	
	width 100%;
	height:100px;
		align-items: center;
	
}

#div4_body{
	
	margin-top: 50px;
	
	width: 100%;
	display: flex;
	justify-content: center;
	position: absolute;
		align-items: center;
	
	
	
}
#div4_body>img{
	width: 25%;
}


#i1{
	background: url("唯品会VIP特卖会：品牌特卖- 唯品会_files/mst_a511c56da7514cf6cf68768df7f2d891.png") repeat scroll top left;
	
	
	width:100% ;
	height: 100%;
	background-size: 100%;
		align-items: center;
	
	
}

#div6{
	margin-top: 150px;
	width: 100%;
	height: 60px;
		align-items: center;
	
}
#div6>img{
	width: 100%;	
	height: 100%;
}

#div9{
	width: 100%;
	height: 200px;
	margin-bottom: 6px;
	display: flex;
	justify-content: space-around;
		align-items: center;
}

#div9>img
{
	width: 30%;
	height: 100%;
}










#div7{
	margin-top: 5px;
	width: 100%;
	height: 150px;
	padding-left: 8px;
	border-radius: 30px;
		align-items: center;
	
}
#div7>img{
	width: 96%;
	height: 100%;
	border-radius: 30px;
}









#div8{
	
	margin-top: 5px;
	width: 100%;
	height: 150px;
	padding-left: 8px;
	border-radius: 30px;
	align-items: center;
}

#div8>img{
	width: 96%;
	height: 100%;
	border-radius: 30px;
}












